{% extends 'temp_101/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <button hx-post="{% url 'blog-partial-delete_all' %}" hx-include="input[name='id']">delete all</button>
{#    <form>#}
{#        {% csrf_token %}#}
{#        <input type="text" name="title" id=""><br>#}
{#        <textarea name="description" id="" cols="30" rows="10"></textarea><br>#}
{#        <button hx-post="{% url 'blog-partial-create' %}" hx-target="#tbody" hx-swap="beforeend">create blog</button>#}
{#    </form>#}
    <div class="card" x-data="tableOperations()" x-init="loadBlog(), console.log(tableOperations())">
{#    <form>#}
        <input x-model="title">
        <input x-model="description">
        <button @click="addBlog">add</button>

{#    </form>#}
        <div class="table-responsive">
            <table class="table table-vcenter card-table" >
                <thead>
                <tr>
                    <th><input type="checkbox" onclick="checkAll(this)"></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>

                </thead>

                <tbody id="tbody">

                <template x-for="blog in blogs" :key="blog.id">
                    <tr id="row">
{#                                        <td><input type="checkbox" name="id" :value="blog.id"></td>#}
                                        <td>
                                            <td x-text="blog.title"></td>
{#                                            <input type="text" x-text="blog.title" >#}
                                        </td>
                                        <td x-text="blog.description"></td>
{#                        <td x-text="blog.id"></td>#}

                                        <td>
                                            <div class="d-flex">
                                                <a :hx-get="'{% url 'blog-partial-bupdate' 0 %}'.replace(0, blog.id)" hx-target="#row"
                                                   hx-swap="outerHTML" class="text-primary" @click="addBlog">Edit</a>
                                                <a @click="delete_blog(blog.id)" class="text-danger" >Delete</a>

                                            </div>
                                        </td>
                                    </tr>
                </template>


{#                                {% for blog in blogs %}#}
{#                                    <tr id="row">#}
{#                                        <td><input type="checkbox" name="id" value="{{ blog.id }}"></td>#}
{#                                        <td>{{ blog.title }}</td>#}
{#                                        <td>{{ blog.description|truncatewords:80 }}</td>#}
{#                                        <td>#}
{#                                            <div class="d-flex">#}
{#                                                <a hx-get="{% url 'blog-partial-bupdate' blog.id %}" hx-target="#row"#}
{#                                                   hx-swap="outerHTML" class="text-primary">Edit</a>#}
{#                                                <a hx-delete="{% url 'blog-partial-delete' blog.id %}" hx-target="#row"#}
{#                                                   hx-swap="outerHTML" class="text-danger" hx-confirm="are you sure!">Delete</a>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% empty %}#}
{#                                    <tr>#}
{#                                        <td colspan="4" class="text-center">there is no blogs yet</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}

                </tbody>

            </table>
        </div>
    </div>
{% endblock %}


{% block extra_scripts %}
    {% include 'temp_101/partials/tableOperations.html' %}

{% endblock %}


{#{#}
{#            blogs: null,#}
{#            function loadTask(){#}
{#            fetch('http://127.0.0.1:8000/blog/list/')#}
{#            .then((res)=> res.json())#}
{#            .then((data)=>this.blogs = data)#}
{##}
{#            }#}
{##}
{#            }#}